<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recentsbutton">

    <application
        android:label="Recents Button"
        android:theme="@android:style/Theme.Holo.Light">

    <receiver android:name=".RecentsWidget" android:exported="true">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>

    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info"/>
    </receiver>

    <receiver android:name=".RecentsReceiver" android:exported="true"/>
    
    <service
    android:name=".RecentsService"
    android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
    android:exported="false">

    <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
    </intent-filter>

    <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/accessibility_service_config" />
    </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>